<%- include("header"); %>
   <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
   </div>
   <div class="box">
       
    
        <!-- <% for (var i = 0;i < task1.length;i++){ %>
        <div class="item">
            <input type="checkbox">
            <p> <%= task1[i].name %> <p>
        </div>
        <% } %> -->

        <% task1.forEach(function(element){ %>
            <form action="/delete" method="post">
                <div class="item">
                    <input type="checkbox" name="checkbox" value="<%= element._id %>" onchange="submit();">
                    <p> <%= element.name %> </p>
                </div>
                <input type="hidden" name="listName" value="<%= listTitle %>">
            </form>
        <% }) %>

        <form action="/" method="post">
            <input type="text" name="newitem" placeholder="New item" autocomplete="off">
            <button type="submit" name="listName" value="<%= listTitle %>">+</button>
        </form>
            
       
   </div>

   <%- include("footer") %>

